# JUST MMY NOTES ON API LINKING 
https://developer.themoviedb.org/reference/discover-movie
this is where we get the api code from and how the data in a object form looks like
2. COPY THE TEST CODE AMD PUT IN INSIDE A API.TS FILE AND ALSO COPY THE HEADER KEY AND INSERT IT IN THE .ENV FILE 










# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
API Read Access Token

eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlNDAwODZkZDVkZTk2MGM4N2JhMjQxZWE4NmIzNTZmNCIsIm5iZiI6MTc0MzcxNzc5OS40MDUsInN1YiI6IjY3ZWYwNWE3YTkzMTNjNzE4NGFjZThmYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.FGABK8_U7XPtakQz4jeURMFyhCR3O9P8dvRKDBPgWYw


API Key

e40086dd5de960c87ba241ea86b356f4

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
